# virtual environments
.venv/
venv/
env/
_venv/

#serving venv
.venv-serving/


# packaging artifacts
*.egg-info/
build/
dist/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# data (generated/local)
data/
!data/.gitkeep

champion.json